@media(max-width: 1024px){
	html{
		width: 1024px;
	}
    h1{
        font-size: 50px;
    }
    .container{
        width: 980px;
    }
    .task-form{
        font-size: 30px;
    }
    .task-item{
        font-size: 18px;
    }
    .placeholder{
        font-size: 30px;
    }
    .todo-btn{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .item{
        font-size: 20px;
    }
    .input-task{
        height: 30px;
        input{
            width: 180px;
        }
    }
    input{
        font-size: 20px;
    }
}
@media(max-width: 767px){
	html{
		width: 768px;
	}
    .container{
        width: 740px;
    }
	.content{
	display: grid;
	min-height: 500px;
	grid-template-rows: 0.5fr 1fr;
	grid-template-columns: 1fr;
	row-gap: 5px;
	}
    .item{
        font-size: 30px;
        &:hover{
            border: 1px solid #ffffff85;
        }
    }
	.task{
		height: 300px;
		overflow: auto;
        display: none;
	}
	.task-form{
		justify-content: center;
	}
	.check{
		border: 2px solid #0b8a5c;
	}
    .task-plus{
        svg{
            height: 35px;
            width: 35px;
        }
    }
    .input-task{
        justify-content: center;
        column-gap: 10px;
        height: 40px;
        input{
            height: 40px;
        }
    }
    .task-btn{
        margin-left: 15px;
        height: 40px;
        width: 40px;
    }
    .input-todo{
        height: 40px;
        input{
            height: 40px;
        }
        svg{
            height: 40px;
            width: 40px;
        }
    }
    .input-close{
        height: 40px;
        width: 40px;
        background: #113c60;
    }
    .menu{
        display: flex;
    }
    .menuActive{
        width: 580px;
    }
    .list{
        padding: 50px;
    }
    .alert{
        width: 420px;
        height: 200px;
        &-btn{
            button{
                height: 50px;
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 576px){
    html{
        width: 576px;
    }
    .container{
       width: 540px;
    }
    .item{
        font-size: 18px;
        padding: 5px 20px;
    }
    .input-todo{
        position: relative;
        input{
            width: 200px;
        }
    }
    .menuActive{
        width: 482px;
    }
    .task-mobile{
        position: absolute;
        top: -82px;
        right: 0;
    }
    .list{
        padding: 50px 30px ;
    }
}

@media(max-width: 414px){
    html{
        width: 414px;
    }
    .container{
        width: 400px;
    }
    .menu{
        left: 10px;
    }
    .task{
        width: 340px;
    }
    .item{
        width: 100%;
    }
    .input-todo{
        input{
            width: 160px;
        }
    }
}



